# Ignorar node_modules de qualquer pasta
**/node_modules

# Arquivos de ambiente (NUNCA envie sua chave de API!)
**/backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de build do frontend
/frontend/dist
/frontend/.vite

# Arquivos do sistema operacional
.DS_Store
Thumbs.db